.card {
    width: 10vw;
    min-height: 10vh;
    background-color: lavender;
    margin: 1.4vh;
    padding: 1vh 1vh 5vh 1vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 2vh
}